.app {
  width:  100vw;
  height: 100vh;
  overflow: hidden;
}

.topbar {
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
  height: 5vh;
}

.topbar > * {
  flex: 1;
  margin: auto;
}

.map {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: grid;
  overflow: hidden;
}


.nodePalette {
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10vh;
  bottom: 0;
}

.uploadedImage {
  margin: auto;
}

.hidden {
  display: none;
}

.tile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.translucent {
  opacity: .5;
}
.dashedBorder {
  border: 2px dashed gray;
}

.highlightable:hover {
  border: 10px solid yellowgreen;
  box-sizing: border-box;
}

#toolPalette {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 20vh;
  width: 7vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
}

#toolPalette > * {
  flex: 1;
  margin: auto;
}

.changeView {
  max-height: 4vh;
  width: 4vh;
  transition: filter 0.2s ease-in;
}

.changeView:hover {
  filter: brightness(80%);
}

.changeView:active {
  filter: brightness(50%);
}

.linkWeight {
  height: 5vh;
  animation: grow 0.2s ease-in;
}

@keyframes grow {
  from {
    flex: 0;
    transform: scaleY(0);
  }
  to {
    flex: 1;
    transform: scaleY(1);
  }
}

.toolLabel {
  max-height: 25vh;
}

.nodeCenter {
  border-radius: 50% 50%;
  border: 3px solid #918C8C;
  background-color: #160F0F;
  position: absolute;
  z-index: 50;
  margin: auto;
  transition: background-color 0.2s ease-in;
}

.nodeCenter:hover {
  background-color: #C2BBBB;
}

.nodeCenterHilit {
  background-color: #C2BBBB;
}

.passthru {
  pointer-events: none;
}

.interactable {
  pointer-events: auto;
}

.nodeLink {
  position: absolute;
  width: 1vw;
  height: 10vw;
  z-index: 40;
  border: 1px solid #918C8C;
  background-color: #160F0F;
  transition: background-color 0.2s ease-in;
}

.nodeLink:hover {
  background-color: #C2BBBB;
}

.nodeLink:hover::after {
  content: attr(data-id);
}

.north {
  transform: translateY(3vw) rotateZ(180deg);
}

.west {

}

.east {
  transform: translateX(-3vw) rotateZ(270deg);
}

.south {
  transform: rotateZ(0deg);
}